.container{
    background-color: beige;
    border: black 2px solid;
    display: flex;
    height: 1000px;
   
   
    justify-content: start;
    align-items: start;
    align-content:center;
    
   
   

  
}
.box{
    height: 150px;
    width: 100px;
   
    border: 2px red solid;
    margin: 3px;
    padding: 5px;
    /*flex-grow: 1;*/
}
#box1{
    background-color: aqua;
   /* align-self: center;*/ 
    


}

#box2{
    background-color: blueviolet;

}
#box3{

    background-color: orange;

}

#box4{

    background-color: blue;

}


#box4{

    background-color: green;
    /*flex-basis: 400px;*/

}